body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  div[id='root'] {
    .content {
      display: flex;
      min-height: 100vh;
      line-height: 1.1;
      flex-direction: column;

      h1 {
        font-size: 3.6rem;
        font-weight: 700;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.5;
      }
    }
  }


  #subapp {
    flex: 1;
  }

  div[id^='__qiankun_microapp_wrapper_'] {
    height: 100%;
  }

}